<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898622743198-bnmpc97k6g02qt6isf8qjiaicg63eroi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898622743198-bnmpc97k6g02qt6isf8qjiaicg63eroi</string>
	<key>API_KEY</key>
	<string>AIzaSyCyAf3fyX2P7kM8UVWAADPts_A7Kdb1J0g</string>
	<key>GCM_SENDER_ID</key>
	<string>898622743198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apple.TranswideLogisticsUser</string>
	<key>PROJECT_ID</key>
	<string>transwidelogistics-b59c3</string>
	<key>STORAGE_BUCKET</key>
	<string>transwidelogistics-b59c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898622743198:ios:08afe7d674203374aa518f</string>
	<key>DATABASE_URL</key>
	<string>https://transwidelogistics-b59c3.firebaseio.com</string>
</dict>
</plist>